@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*Para criar um pasta SPA a melhor escolha é importar as fontas direto no css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font Size */
  font-size: 62.5%;
  --fs-menu: clamp(1.5rem, 1.2rem + 3vw, 2.1rem);
  --fs-titleHomePage: clamp(3.0rem, 3.0rem + 3vw, 4.8rem);
  --fs-titleUniverseAndExplorer: clamp(2.0rem, 1.5rem + 2vw, 4.8rem);
  --fs-button: 1.4rem;
  --fs-txtPrincipal: clamp(1.2rem, 1.0rem + 2vw, 1.8rem);

  /* Font color */
  --fc-geral: #fff;
  --fc-menu: #8D8D99;
  --fc-txtPricipal: #E1E1E6;
  --fc-butonHover: #02799D;

  /* Font family */
  --ff-general: 'Roboto', sans-serif;
}

body {
  font-family: var(--ff-general);
}

.header-bar {
  display: flex;
  justify-content: space-between;
  padding: 4.0rem 3.0rem 0rem;
}

.menuMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 3.0rem;
  height: 4.0rem;
  margin-left: 5.0rem;
  margin-bottom: 3.0rem;
  cursor: pointer;
}

.mm_line {
  height: .2rem;
  background-color: var(--fc-geral);
  border-radius: 5rem;
  transition: all .5s;
}

.menuList {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  list-style: none;
  background: linear-gradient(180deg, rgba(48, 48, 48, 0) 0%, rgba(9, 25, 32, 0.53566) 15.62%, #04171F 35.42%);
  border-radius: 0rem 0rem 6.0rem 6.0rem;
  border-bottom: 0.1rem solid #f8f8f8;
  animation-fill-mode: backwards;
}

.menu-list-topdown {
  animation: topdown 1s ease-in-out;
}

.menu-list-bottomup {
  animation: bottomup 1s ease-in-out;
}

.menu-list-hidden {
 display: none;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--fc-menu);
  padding-bottom: 1.5rem;
  font-family: var(--ff-general);
  font-size: var(--fs-menu);
  line-height: 1.5rem;
  font-weight: 400;
  transition: all .5s;
}

li a:hover {
  color: var(--fc-geral);
}

body {
  background-image: url(./assets/background-home.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-color: black;
  height: 100vh;
}

.title-explorer, .title-universe {
  font-size: var(--fs-titleUniverseAndExplorer);
  color: var(--fc-geral);
  font-weight: 700;
  padding-left: 3.0rem;
}

.home-page {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  align-items: center;
  justify-content: center;
  padding: 0rem 0.5rem;
}

.home-page .title {
  color: var(--fc-geral);
  font-weight: 700;
  font-size: var(--fs-titleHomePage);
  text-align: center;
  letter-spacing: 0.1rem;
}

.universe-page, .explorer-page {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: center;
  height: 70vh;
}

p {
  color: var(--fc-txtPricipal);
  font-size: var(--fs-txtPrincipal);
  max-width: 64.8rem;
  padding-left: 3.0rem;
  padding-right: 3.0rem;
  font-weight: 400;
  margin-bottom: 5.0rem;
}

.button-space {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  text-decoration: none;
  background: transparent;
  text-transform: uppercase;
  color: #f8f8f8;
  font-family: var(--ff-general);
  font-size: var(--fs-button);
  font-weight: 700;
  width: fit-content;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 1.2rem 3.2rem;
  transition: all 0.5s;
  cursor: pointer;
}

.button:hover {
  background: #fff;
  color: var(--fc-butonHover);
}

/* Media Queries*/

@media(min-width: 760px) {

  .header-bar {
    display: flex;
    justify-content: flex-start;
    padding: 4.0rem 7.2rem 0rem;
    gap: 3.2rem;
  }
  
  .menuMobile {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-list-hidden {
    display: flex;
    flex-direction: row;
    position: inherit;
    background: none;
    border: none;
    gap: 3.2rem;
  }

  .universe-page, .explorer-page {
    height: 80vh;
  }

  li a {
    padding-bottom: 0;
  }

  .title-explorer, .title-universe, p {
    padding-left: 10.2rem;
  }

  p {
    margin-bottom: 10.0rem;
  }
}

@media(min-width: 1024px) {

  .universe-page, .explorer-page {
    height: 85vh;
  }

  p {
    padding-right: 0;
    max-width: 70.0rem;
  }
}

/* Animations */

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bottomup {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-80px);
  }
}

